@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: satoshi;
    src: url(./66aa728085dec3390cb7f058_Satoshi-Variable.ttf);
}

*{
    font-family:satoshi;
}

body::-webkit-scrollbar{
    width: 0;
}